<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597609823578-0nccfotptniv7slhlt60rr17japl1258.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597609823578-0nccfotptniv7slhlt60rr17japl1258</string>
	<key>API_KEY</key>
	<string>AIzaSyAbJLb1ZKkiQCCZQNi7UqiNlZGnQFaO2-U</string>
	<key>GCM_SENDER_ID</key>
	<string>597609823578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-eef6c</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-eef6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597609823578:ios:1c1ff1175d3b2327ad8763</string>
</dict>
</plist>